<ul nz-menu [nzMode]="'inline'" [nzTheme]="'dark'" [nzInlineCollapsed]="isCollapsed">
    <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
        <ul>
            <li nz-menu-item nzMatchRouter>
                <a routerLink="/dashboard/analysis">分析頁</a>
            </li>
            <li nz-menu-item nzMatchRouter>
                <a routerLink="/dashboard/monitor">監控頁</a>
            </li>
            <li nz-menu-item nzMatchRouter>
                <a routerLink="/dashboard/workplace">工作臺</a>
            </li>
        </ul>
    </li>
</ul>