<form nz-form [formGroup]="addForm" (ngSubmit)="onSubmit()" class="add-form">
  <nz-row nzGutter="16">
    <nz-col nzSpan="6">
      <nz-form-item>
        <nz-form-label nzFor="clientCode">Client Code</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="clientCode" id="clientCode" readonly />
        </nz-form-control>
      </nz-form-item>
    </nz-col>
    <nz-col nzSpan="6">
      <nz-form-item nzRequired>
        <nz-form-label nzFor="clientName">Client Name</nz-form-label>
        <nz-form-control nzErrorTip="Please input client name">
          <input nz-input formControlName="clientName" id="clientName" />
        </nz-form-control>
      </nz-form-item>
    </nz-col>
    <nz-col nzSpan="6">
      <nz-form-item>
        <nz-form-label nzFor="contactPerson">Contact Person</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="contactPerson" id="contactPerson" />
        </nz-form-control>
      </nz-form-item>
    </nz-col>
    <nz-col nzSpan="6">
      <nz-form-item>
        <nz-form-label nzFor="phoneNumber">Phone Number</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="phoneNumber" id="phoneNumber" />
        </nz-form-control>
      </nz-form-item>
    </nz-col>
    <nz-col nzSpan="6">
      <nz-form-item>
        <nz-form-label nzFor="email">Email</nz-form-label>
        <nz-form-control nzErrorTip="Invalid email">
          <input nz-input formControlName="email" id="email" />
        </nz-form-control>
      </nz-form-item>
    </nz-col>
    <nz-col nzSpan="6">
      <nz-form-item>
        <nz-form-label nzFor="status">Status</nz-form-label>
        <nz-form-control>
          <nz-select formControlName="status" id="status">
            <nz-option *ngFor="let o of statusOptions" [nzLabel]="o.label" [nzValue]="o.value"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </nz-col>
    <nz-col nzSpan="6" class="form-action">
      <button nz-button nzType="primary" [disabled]="addForm.invalid">{{ editing ? 'Update' : 'Add' }} Client</button>
      <button nz-button (click)="onCancel()" *ngIf="editing" style="margin-left:8px;">Cancel</button>
    </nz-col>
  </nz-row>
</form>

<nz-table #clientTable [nzData]="clients" [nzLoading]="loading" nzBordered>
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Contact</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let client of clientTable.data">
      <td>{{ client.clientCode }}</td>
      <td>{{ client.clientName }}</td>
      <td>{{ client.contactPerson }}</td>
      <td>{{ client.phoneNumber }}</td>
      <td>{{ client.email }}</td>
      <td>{{ client.status }}</td>
      <td>
        <a nz-button nzType="link" (click)="onEdit(client)">Edit</a>
        <a nz-button nzType="link" nzDanger (click)="onDelete(client.id!)">Delete</a>
      </td>
    </tr>
  </tbody>
</nz-table>