:host ::ng-deep {
  .add-form { margin-bottom: 16px; }
  .form-action { display: flex; align-items: center; }
  nz-table { width: 100%; }
  
  .payment-flow-cell {
    max-width: 400px;
    
    nz-transfer {
      width: 100%;
      
      .ant-transfer-list {
        width: 180px !important;
        height: 200px !important;
        
        &-header {
          padding: 8px 12px;
          font-size: 12px;
        }
        
        &-content {
          height: 160px;
          
          &-item {
            padding: 4px 8px;
            font-size: 12px;
          }
        }
      }
      
      .ant-transfer-operation {
        margin: 0 8px;
      }
    }
  }
}
