<nz-layout class="min-screen-full-height">
  <!-- Sidebar -->
  @if (layout?.mode === 'side' || layout?.mode === 'mixin') {
    <nz-sider
      nzBreakpoint="lg"
      [nzCollapsed]="layout?.isCollapsed"
      [nzCollapsedWidth]="layout?.collapsedWidth"
      [nzTheme]="layout?.theme"
      [nzWidth]="layout?.sidebarWidth"
      [nzCollapsible]="true"
      [nzTrigger]="trigger"
      (nzCollapsedChange)="toggleCollapsed()"
    >
      <app-sidebar
        [layout]="layout"
        (menuClick)="addTab($event.title, $event.path)"
      />
    </nz-sider>
  }

  <nz-layout>
    <!-- Header -->
    @if (layout?.mode === 'side' || layout?.mode === 'top') {
      <nz-header
        [ngClass]="{
          'fixed': layout?.isFixedHeader,
          'fixed-collapsed': layout?.isFixedHeader && layout?.isCollapsed
        }"
      >
        <app-header
          [layout]="layout"
          (toggleCollapsed)="toggleCollapsed()"
          (setMode)="setMode($event)"
          (setTheme)="setTheme($event)"
        />
      </nz-header>
    }

    <nz-layout>
      <nz-content [ngStyle]="{ marginTop: layout?.isFixedHeader ? '64px' : '0' }">
        <!-- Tabs -->
        @if (layout?.isShowTab) {
          <app-tab
            [tabs]="tabs"
            [currentTab]="currentTab"
            (tabClick)="setActiveTab($event)"
            (tabClose)="closeTab($event)"
            (closeOtherTabs)="closeOtherTabs($event)"
            (closeRightTabs)="closeRightTabs($event)"
            (closeLeftTabs)="closeLeftTabs($event)"
            (refreshTab)="refreshTab($event)"
          />
        }

        <!-- Content -->
        <div class="content-wrapper">
          <router-outlet />
        </div>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>

<ng-template #trigger>
  <ul nz-menu nzMode="inline" [nzSelectable]="false" [nzTheme]="layout?.theme">
    <li nz-menu-item [nzPaddingLeft]="16">
      <i nz-icon [nzType]="layout?.isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
    </li>
  </ul>
</ng-template> 