<div class="principal-page">
    <nz-splitter [nzLayout]="'horizontal'" style="height: calc(100vh - 64px);" (nzResize)="onSplitterResize($event)">

        <!-- 左側 Principal 列表 -->
        <nz-splitter-panel [nzDefaultSize]="'60%'" [nzMin]="'400px'" [nzSize]="splitterSizes[0] + '%'">
            <div class="principal-list-container">
                <app-principal-list (principalSelected)="onPrincipalSelected($event)">
                </app-principal-list>
            </div>
        </nz-splitter-panel>

        <!-- 右側請款流程編輯 -->
        <nz-splitter-panel [nzDefaultSize]="'40%'" [nzMin]="'300px'" [nzSize]="splitterSizes[1] + '%'">
            <div class="workflow-editor-container">
                <app-principal-workflow [principal]="selectedPrincipal" (workflowSaved)="onWorkflowSaved($event)">
                </app-principal-workflow>
            </div>
        </nz-splitter-panel>
    </nz-splitter>
</div>