<form nz-form [formGroup]="contactFormGroup" nz-row [nzGutter]="24">
    <nz-form-item nz-col [nzSpan]="24">
        <nz-form-label [nzSpan]="6" nzFor="contactName" [nzRequired]="true">聯絡人姓名</nz-form-label>
        <nz-form-control [nzSpan]="18" nzErrorTip="請輸入聯絡人姓名">
            <input nz-input formControlName="name" placeholder="請輸入聯絡人姓名" />
        </nz-form-control>
    </nz-form-item>

    <nz-form-item nz-col [nzSpan]="24">
        <nz-form-label [nzSpan]="6" nzFor="contactEmail" [nzRequired]="true">信箱</nz-form-label>
        <nz-form-control [nzSpan]="18" nzErrorTip="請輸入有效的信箱地址">
            <input nz-input formControlName="email" placeholder="請輸入信箱地址" />
        </nz-form-control>
    </nz-form-item>

    <nz-form-item nz-col [nzSpan]="24">
        <nz-form-label [nzSpan]="6" nzFor="contactPhone" [nzRequired]="true">電話</nz-form-label>
        <nz-form-control [nzSpan]="18">
            <input nz-input formControlName="phone" placeholder="請輸入電話號碼" />
        </nz-form-control>
    </nz-form-item>
</form>