.firestore-demo-container {
  .mb-16 {
    margin-bottom: 16px;
  }

  nz-card {
    margin-bottom: 16px;
  }

  .ant-list-item-meta-title {
    margin-bottom: 4px;
  }

  .ant-list-item-meta-description {
    color: rgba(0, 0, 0, 0.45);
  }

  .ant-tag {
    margin-right: 8px;
  }

  .ant-btn-link {
    padding: 0;
    height: auto;
  }
}