<div class="header-container">
  <!-- Left Section -->
  <div class="header-left">
    <button nz-button nzType="text" nzSize="large" (click)="onToggleCollapsed()">
      <i nz-icon [nzType]="layout?.isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
    </button>

    <div class="header-title">
      <img src="assets/logo-color.svg" alt="Logo" />
      <span>NG-AC</span>
    </div>
  </div>

  <!-- Right Section -->
  <div class="header-right">
    <!-- Layout Mode Toggle -->
    <button nz-button nzType="text" nz-dropdown [nzDropdownMenu]="layoutMenu">
      <i nz-icon nzType="setting"></i>
    </button>
    <nz-dropdown-menu #layoutMenu="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item (click)="onSetMode('side')">
          <i nz-icon nzType="menu"></i>
          Side Layout
        </li>
        <li nz-menu-item (click)="onSetMode('top')">
          <i nz-icon nzType="menu"></i>
          Top Layout
        </li>
        <li nz-menu-item (click)="onSetMode('mixin')">
          <i nz-icon nzType="menu"></i>
          Mix Layout
        </li>
      </ul>
    </nz-dropdown-menu>

    <!-- Theme Toggle -->
    <button nz-button nzType="text" (click)="onSetTheme(layout?.theme === 'light' ? 'dark' : 'light')">
      <i nz-icon [nzType]="layout?.theme === 'light' ? 'moon' : 'sun'"></i>
    </button>

    <!-- User Menu -->
    <div class="user-info" nz-dropdown [nzDropdownMenu]="userMenu">
      <nz-avatar nzIcon="user"></nz-avatar>
      <span class="username">Admin</span>
    </div>
    <nz-dropdown-menu #userMenu="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item>
          <i nz-icon nzType="user"></i>
          Profile
        </li>
        <li nz-menu-item>
          <i nz-icon nzType="setting"></i>
          Settings
        </li>
        <li nz-menu-divider></li>
        <li nz-menu-item (click)="onLogout()">
          <i nz-icon nzType="logout"></i>
          Logout
        </li>
      </ul>
    </nz-dropdown-menu>
  </div>
</div>