<div class="header-left">
    <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'" (click)="toggleCollapse()"></i>
</div>
<div class="header-right">
    <ul class="header-operations">
        <li>
            <i nz-icon nzType="search"></i>
        </li>
        <li>
            <i nz-icon nzType="bell"></i>
        </li>
        <li>
            <i nz-icon nzType="setting"></i>
        </li>
        <li nz-dropdown [nzDropdownMenu]="userMenu">
            <nz-avatar nzIcon="user" [nzSrc]="userAvatar"></nz-avatar>
            <span>{{ username }}</span>
            <nz-dropdown-menu #userMenu="nzDropdownMenu">
                <ul nz-menu>
                    <li nz-menu-item>
                        <a>個人中心</a>
                    </li>
                    <li nz-menu-item>
                        <a>個人設置</a>
                    </li>
                    <li nz-menu-divider></li>
                    <li nz-menu-item (click)="logout()">
                        <a>退出登錄</a>
                    </li>
                </ul>
            </nz-dropdown-menu>
        </li>
    </ul>
</div>