:host ::ng-deep {
  .ant-tabs-tab {
    transition: background-color 0s !important;
  }

  .ant-tabs-nav {
    margin-bottom: 0 !important;
    transition: background-color 0s !important;
  }
}

.m-t-10 {
  margin-top: 10px;
}
