.main-layout {
  min-height: 100vh;
}

.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    height: 100%;
  }
}

nz-header {
  padding: 0;
}

nz-content {
  margin: 24px 16px;
  padding: 24px;
  min-height: 280px;
}

.inner-content {
  padding: 24px;
  min-height: 100%;
}

